*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #DADADA;
    height: 100vh;
}

.container{
    height: 100%;
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4,1fr);
    align-content: center;
    justify-content: space-evenly;
    column-gap: 15px;
    row-gap: 20px;
}
.item{
    width: 300px;
    height: 200px;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    overflow: hidden;
}
.item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s;
}
.img-zoo{
    transform: scale(1.5);
    
}

.gallery{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s;
}
.gallery__inner{
    color: white;
    font-size: 35px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gallery__img{
    width: 70%;
    height: 70%;
    overflow: hidden;
}
.gallery__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.gallery__prev{
    order: -1;
}
.close{
    position: fixed;
    top: 15px;
    right: 15px;
}

.gallery i{
    cursor: pointer;
}

.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.btn-hide{
    opacity: 0;
    pointer-events: none;
}
.btn-show{
    opacity: 1;
    pointer-events: auto;
}