*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: linear-gradient(to right,#ffe000,#799f0C);
    font-family: sans-serif;
}

.container{
    width: 400px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 6px;
    
    overflow: hidden;
}

form{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
}
form input{
    width: 100%;
    margin-right: 15px;
    font-size: 20px;
    border: none;
    outline: none;
}

form button{
    color: white;
    background-color: yellowgreen;
    padding: 3px 15px;
    font-size: 20px;
    border-radius: 6px;
    outline: none;
    border: none;
}

.todos li{
    list-style: none;
    padding: 10px 15px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
}

.todos li span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}

.todos li.complete{
    color: #aaa;
    
}

.todos li.complete span{
    text-decoration: line-through;
}