*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --success-color: #2691d9;
    --error-color: #e75c3c;
}

/* CSS for register */
body{
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(120deg, #3ca7ee, #9b408f);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* CSS for register card */

.register-card{
    width: 400px;
    background-color: white;
    padding: 25px 35px;
    border-radius: 10px;
    text-align: center;
   
}

.register-card form{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.register-card__content{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.register-card__content .form-control{
    width: 100%;
    position: relative;

}

.register-card__content .form-control input{
    outline: none;
    border: none;
    border-bottom: 2px solid #adadad;
    padding-bottom: 10px;
    font-size: 18px;
    width: 100%;
}

.register-card__content .form-control span{
    position: absolute;
    left: 0;
    top: 32px;
    border-bottom: 2px solid var(--success-color);
    width: 0%;
    transition: 0.5s ease;
}

.register-card__content .form-control input:focus ~ span{
    width: 100%;
}

.register-card__content .form-control small{
    display: flex;
    width: 100%;
    margin-top: 5px;
}

/* process error */
.register-card__content .form-control.error small{
    color: var(--error-color);
}

.register-card__content .form-control.error input{
    border-bottom: 2px solid var(--error-color);
}

.register-card__footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-card__footer button{
    background-color: var(--success-color);
    padding: 15px 0;
    outline: none;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease;
}

.register-card__footer button:hover{
    background-color: #08609a;
}

.register-card__footer .sub-footer{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}
.register-card__footer .sub-footer a{
    color: var(--success-color);
    text-decoration: none;
    transition: 0.5s ease;
}

.register-card__footer .sub-footer a:hover{
    text-decoration: underline;
}